<div class="row">
  <div class="col-md-5">
    <ul class="list-group">
      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          Breakfast
        </h4>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          Lunch
        </h4>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          Dinner
        </h4>
      </li>
      <li class="list-group-item">
        <h4 class="list-group-item-heading">
          Desserts
        </h4>
      </li>
    </ul>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>