<h1>Recipes</h1>
<li>This page will have a sidebar with links for every meal category and each link will display recipes for that meal category</li>
<li>Clicking a recipe will show a subpage with more information with the recipe</li>
<li>Search bar functionality that will search for recipe names</li>
<li>Functionality to add or delete recipes</li>
<li>Functionality to update a recipe</li>

<hr>

<!-- <h3>My Recipe</h3>
<li>This subpage will show recipe instructions and ingredients</li>
<li>Functionality to add/remove ingredients from the recipe and update the instructions</li>
<li>Functionality to add/remove ingredients for this recipe from the grocery list</li>
<li>Functionality to add/remove this recipe from calendar ** needs to have ability to select day of week and meal **</li> -->

<app-recipe-item [myRecipe] = "testRecipe" ></app-recipe-item>